# MongoDB. Основы работы

In [1]:
%%capture
!apt install mongodb
!service mongodb start

In [2]:
import datetime
import pprint
import pymongo
from pymongo import MongoClient

In [3]:
# Подключение
client = MongoClient()

In [4]:
# БД
db_test = client['db_test']

In [5]:
# Коллекция
collection_test = db_test['collection_test']

In [6]:
data1 = {'_id':1, 'val1':100, 'val2':'string1', 'val3':['a','b','c'], 'dt':datetime.datetime.utcnow()}
data2 = {'_id':2, 'val1':200, 'val2':'string2', 'val3':['b','c','d'], 'dt':datetime.datetime.utcnow()}

In [7]:
# Добавление значений в коллекцию
ins_result = collection_test.insert_one(data1)
print(ins_result.inserted_id)
ins_result = collection_test.insert_one(data2)
print(ins_result.inserted_id)

1
2

In [8]:
data_all = [{'_id':3, 'val1':300, 'val2':'string3', 'val3':['c','d','e'], 'dt':datetime.datetime.utcnow()},
            {'_id':4, 'val1':400, 'val2':'string4', 'val3':['d','e','f'], 'dt':datetime.datetime.utcnow()},
            {'_id':5, 'val1':500, 'val2':'string5', 'val3':['e','f','g'], 'dt':datetime.datetime.utcnow()}]

In [9]:
# Добавление значений в коллекцию (группа)
ins_result = collection_test.insert_many(data_all)

In [10]:
print(ins_result.inserted_ids)

[3, 4, 5]

In [11]:
# Вывести все документы в коллекции
for _ in collection_test.find():
  pprint.pprint(_)

{'_id': 1,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 566000),
 'val1': 100,
 'val2': 'string1',
 'val3': ['a', 'b', 'c']}
{'_id': 2,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 566000),
 'val1': 200,
 'val2': 'string2',
 'val3': ['b', 'c', 'd']}
{'_id': 3,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 624000),
 'val1': 300,
 'val2': 'string3',
 'val3': ['c', 'd', 'e']}
{'_id': 4,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 624000),
 'val1': 400,
 'val2': 'string4',
 'val3': ['d', 'e', 'f']}
{'_id': 5,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 624000),
 'val1': 500,
 'val2': 'string5',
 'val3': ['e', 'f', 'g']}

In [12]:
# Вывести список всех коллекций
print(db_test.list_collection_names())

['collection_test']

In [13]:
# Получение первого документа из коллекции
record_first = collection_test.find_one()
pprint.pprint(record_first)

{'_id': 1,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 566000),
 'val1': 100,
 'val2': 'string1',
 'val3': ['a', 'b', 'c']}

In [14]:
# Вывести только первые три документа
for _ in collection_test.find().limit(3):
  pprint.pprint(_)

{'_id': 1,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 566000),
 'val1': 100,
 'val2': 'string1',
 'val3': ['a', 'b', 'c']}
{'_id': 2,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 566000),
 'val1': 200,
 'val2': 'string2',
 'val3': ['b', 'c', 'd']}
{'_id': 3,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 624000),
 'val1': 300,
 'val2': 'string3',
 'val3': ['c', 'd', 'e']}

In [15]:
# Вывести документы с пропуском первых 3
for _ in collection_test.find().skip(3):
  pprint.pprint(_)

{'_id': 4,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 624000),
 'val1': 400,
 'val2': 'string4',
 'val3': ['d', 'e', 'f']}
{'_id': 5,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 624000),
 'val1': 500,
 'val2': 'string5',
 'val3': ['e', 'f', 'g']}

In [16]:
# Вывести только определенные столбцы
for _ in collection_test.find({},{'val3':1, '_id':0}):
  pprint.pprint(_)

{'val3': ['a', 'b', 'c']}
{'val3': ['b', 'c', 'd']}
{'val3': ['c', 'd', 'e']}
{'val3': ['d', 'e', 'f']}
{'val3': ['e', 'f', 'g']}

In [17]:
# Вывести только уникальные значения для поля
print(collection_test.distinct('val3'))

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [18]:
# Подсчет количества записей в коллекции
print(collection_test.count_documents({}))

5

In [19]:
# Отсортировать записи
for _ in collection_test.find().sort('val1',-1):
  pprint.pprint(_)

{'_id': 5,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 624000),
 'val1': 500,
 'val2': 'string5',
 'val3': ['e', 'f', 'g']}
{'_id': 4,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 624000),
 'val1': 400,
 'val2': 'string4',
 'val3': ['d', 'e', 'f']}
{'_id': 3,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 624000),
 'val1': 300,
 'val2': 'string3',
 'val3': ['c', 'd', 'e']}
{'_id': 2,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 566000),
 'val1': 200,
 'val2': 'string2',
 'val3': ['b', 'c', 'd']}
{'_id': 1,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 566000),
 'val1': 100,
 'val2': 'string1',
 'val3': ['a', 'b', 'c']}

**Условные операторы задают условие, которому должно соответствовать значение поля документа**:
* \$eq (равно)
* \$ne (не равно)
* \$gt (больше чем)
* \$lt (меньше чем)
* \$gte (больше или равно)
* \$lte (меньше или равно)
* \$in определяет массив значений, одно из которых должно иметь поле документа
* \$nin определяет массив значений, которые не должно иметь поле документа

**Логические операторы выполняются над условиями выборки:**
* \$or: соединяет два условия, и документ должен соответствовать одному из этих условий
* \$and: соединяет два условия, и документ должен соответствовать обоим условиям
* \$not: документ должен не соответствовать условию
* \$nor: соединяет два условия, и документ должен не соответствовать обоим условиям

**Ряд операторов предназначены для работы с массивами:**
* \$all: определяет набор значений, которые должны иметься в массиве
* \$size: определяет количество элементов, которые должны быть в массиве
* \$elemMatch: определяет условие, которым должны соответствовать элементы в массиве
* \$exists: позволяет извлечь только те документы, в которых определенный ключ присутствует или отсутствует
* \$type: извлекает только те документы, в которых определенный ключ имеет значение определенного типа, например строку или число
* \$regex: задает регулярное выражение, которому должно соответствовать значение поля

In [20]:
# Подсчет записей по условию
count_filter = collection_test.count_documents({'val1': {'$eq' : 100}})
print(count_filter)

1

In [21]:
# Выборка по условию
for _ in collection_test.find({'$or' : [{'val1': 100}, {'val2':'string2'}]}):
  pprint.pprint(_)

{'_id': 1,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 566000),
 'val1': 100,
 'val2': 'string1',
 'val3': ['a', 'b', 'c']}
{'_id': 2,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 566000),
 'val1': 200,
 'val2': 'string2',
 'val3': ['b', 'c', 'd']}

In [22]:
# Выборка по условию
for _ in collection_test.find({'val1': {'$in': [100, 200, 300]}}):
  pprint.pprint(_)

{'_id': 1,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 566000),
 'val1': 100,
 'val2': 'string1',
 'val3': ['a', 'b', 'c']}
{'_id': 2,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 566000),
 'val1': 200,
 'val2': 'string2',
 'val3': ['b', 'c', 'd']}
{'_id': 3,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 624000),
 'val1': 300,
 'val2': 'string3',
 'val3': ['c', 'd', 'e']}

In [23]:
# Обновление значения в записи
collection_test.update_one({'val1' : 100}, {'$set': {'val1' : 1000}})

In [24]:
for _ in collection_test.find({'val1': {'$eq' : 1000}}):
  pprint.pprint(_)

{'_id': 1,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 566000),
 'val1': 1000,
 'val2': 'string1',
 'val3': ['a', 'b', 'c']}

In [25]:
# Увеличение значения поля
collection_test.update_one({'val1' : 1000}, {'$inc': {'val1':500}})

In [26]:
for _ in collection_test.find({'_id': {'$eq' : 1}}):
  pprint.pprint(_)

{'_id': 1,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 566000),
 'val1': 1500,
 'val2': 'string1',
 'val3': ['a', 'b', 'c']}

In [27]:
# Обновление массивов
collection_test.update_many({}, {'$push': {'val3': 'p'}})

In [28]:
for _ in collection_test.find({'_id': {'$eq' : 1}}):
  pprint.pprint(_)

{'_id': 1,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 566000),
 'val1': 1500,
 'val2': 'string1',
 'val3': ['a', 'b', 'c', 'p']}

In [29]:
# Удаление элемента из массива
collection_test.update_many({}, {'$pop': {'val3': 1}})

In [30]:
for _ in collection_test.find({'_id': {'$eq' : 1}}):
  pprint.pprint(_)

{'_id': 1,
 'dt': datetime.datetime(2022, 4, 17, 13, 52, 59, 566000),
 'val1': 1500,
 'val2': 'string1',
 'val3': ['a', 'b', 'c']}

In [31]:
# Удаление полей
collection_test.update_many({}, {'$unset': {'dt': 1}})

In [32]:
for _ in collection_test.find({'_id': {'$eq' : 1}}):
  pprint.pprint(_)

{'_id': 1, 'val1': 1500, 'val2': 'string1', 'val3': ['a', 'b', 'c']}

In [33]:
# Удалить запись
collection_test.delete_one({'_id' : 1})

In [34]:
for _ in collection_test.find().limit(5):
  pprint.pprint(_)

{'_id': 2, 'val1': 200, 'val2': 'string2', 'val3': ['b', 'c', 'd']}
{'_id': 3, 'val1': 300, 'val2': 'string3', 'val3': ['c', 'd', 'e']}
{'_id': 4, 'val1': 400, 'val2': 'string4', 'val3': ['d', 'e', 'f']}
{'_id': 5, 'val1': 500, 'val2': 'string5', 'val3': ['e', 'f', 'g']}

In [35]:
# Удалить коллекцию из БД
collection_test.drop()

In [36]:
for _ in collection_test.find().limit(5):
  pprint.pprint(_)